
body{
    background-color: whitesmoke;
}
*{
    text-align: center;
    margin: auto;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}
a{color:white;
    text-decoration: none;}
img{
    height: auto;
    width: 150px;
    max-width: 20%;
}

div{display: block;
    margin-bottom: 75px;}

.nav{
    top: 0;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    text-decoration: none;
    background-color: #070c58;
    position: sticky;
    justify-content: center;
    padding: 15px;
    margin: 0;
}


h1,h2,h3{ font-family: 'Times New Roman', Times, serif;
}

h1{padding-bottom: 15px;
    padding-top: 20px;}
h2{padding-bottom: 10px;}
h3{padding-bottom: 5px;}
.bandeau{
    background-color: #070c58;
    color: #ffffff;
    margin-top: 15%;
    margin: auto;   
    padding: 20px;
}

.b2{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;    
    flex-direction: row;
}

.propos{background-color: rgb(218, 218, 218);}
.certif{background-color: rgb(218, 218, 218);}